# Compiled class file
*.class

# Log file
*.log
*.tar
*.jpg
# BlueJ files
*.ctxt

*.idea

*.lock

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*/db-storage/*
.DS_Store
*/dist/*
*/build/*
*.pkg
*.toc
*.zip
*.pyz