# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

*.idea

*.lock

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*/db-storage/*
!*.md
.DS_Store
*/dist/*
*/build/*